body{
    background-size: cover;
}

.heading{
    font-size: 25px;
    width: 100%;
    margin: 0px;
}

.note{
    font-size:15px;
    color: black;
}

canvas{
    border:2px solid black;
    box-shadow: 5px 5px 5px gray ;
    padding: 10px;
}